h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. 260101053-01]
        p.mb-0 Estructurar el manual de identidad corporativa según especificaciones de la organización.
           




