h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'La identidad corporativa', 'main.html#page/identidad_corporativa/')
                    +navTemaItem('2', 'Manejo de software de diseño vectorial', 'main.html#page/software/')
                    +navTemaItem('3', 'Manual de identidad corporativa vectorial', 'main.html#page/manual_identidad_corporativa/')                 