.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Carátula:
            | Diseño editorial. Tapa o cara principal de una publicación. La funda de un disco o la cubierta de un libro. Interior: reverso o cara posterior de la tapa o carátula.
        hr
        p
            strong.mr-2 Color:
            | Color	Característica propia o adquirida de una superficie, mediante la cual, al incidir los rayos de luz blanca sobre ella, adquiere esta una apariencia visual determinada. 
        hr
        p 
            strong.mr-2 Eslogan (Slogan):
            | Término de origen inglés utilizado para recordar una marca o un producto, por medio de una frase de fácil memorización, en los mensajes publicitarios. 
        hr
        p 
            strong.mr-2 Identidad corporativa:
            | El conjunto de características específicas y personales de una entidad, las cuales crean una forma perceptible y memorizable de sí misma y la diferencian de las demás entidades. 
        hr
        p 
            strong.mr-2 Logotipo:
            | Diseño en el cual las letras componentes del escrito encuentran uniones especiales o formas particulares más características. Marca en la cual la palabra funciona como imagen (Veraldi- Scherman, 2004). 
        hr
        p 
            strong.mr-2 Manual de Identidad Corporativa:
            | Conjunto de normas que regulan el uso y aplicación de la identidad corporativa en el plano del diseño. 
        hr
        p 
            strong.mr-2 Símbolo:
            | En la identidad visual, el símbolo es un grafismo distintivo que posee tres clases de funciones: simbólica, identificadora y estética. Se llama símbolo porque: “es un signo convencional, que está en el lugar de otra cosa no presente, a la cual representa”. Esta “cosa no presente” es el propio grupo y cada una de las entidades que lo integran. 
        hr
        p 
            strong.mr-2 Tipografía:
            | Representación gráfica del lenguaje. Disciplina que rige el diseño de caracteres unificados por propiedades visuales uniformes. Estudia las diferentes categorías de letras, las familias, los recursos, su legibilidad.




