.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td Adobe Illustrator. (2015). Guía ACA Illustrator SPA
                    td PDF
                    td 
                        a(href="media/documentos/complementarios/Guia_ACA_Illustrator_SPA.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Arias, M. (2020). Formato modelo brief de campaña táctica
                    td DOC
                    td 
                        a(href="media/documentos/complementarios/Formato_modelo_brief_primer_contacto.doc", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar      

                tr
                    td Arias, M. (2020). Formato modelo brief de primer contacto
                    td DOC
                    td 
                        a(href="media/documentos/complementarios/Formato_modelo_brief_primer_contacto.doc", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar        

                tr
                    td Arias, M. (2020). Modelo brief de campaña táctica
                    td PDF
                    td 
                        a(href="media/documentos/complementarios/Modelo_brief_campana_tactica.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar  

                tr
                    td Arias, M. (2020). Modelo brief de primer contacto
                    td PDF
                    td 
                        a(href="media/documentos/complementarios/Modelo_brief_primer_contacto.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar       

                tr
                    td Fernández, R. (2009). Segmentación de mercados
                    td Libro 
                    td 
                        a(href="https://cutt.ly/wyIsCNm", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver    

                tr
                    td Orozko, M. (s. f.). 13 Manuales de Marca para Inspirarte.
                    td Sitio web
                    td 
                        a(href="https://cutt.ly/9yVOv6Q", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver                     