include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Adobe. (2010). Manual de Identidad Corporativa. Adobe.", "")
        +referenciaItem("Adobe Illustrator. (2015). Guía ACA Illustrator SPA. Adobe.", "")
        +referenciaItem("Alcaldía de Medellín. (2020). Libro de Marca Municipio de Medellín.", "https://n9.cl/y5j7 ")
        +referenciaItem("Animal Planet. (2008). International Off-Air Brand Guidelines.", "https://cutt.ly/byVP1Sd")
        +referenciaItem("Arguello, J. (2015). Identidad e Imagen Corporativa.", "")
        +referenciaItem("Castañeda, W. (2005). Color. Editorial Universidad de Caldas Artes y Humanidades.", "")
        +referenciaItem("Davara, A. M. (1992). Estrategias de Comunicación en Marketing. Edit. DOSSAT S.A.", "")
        +referenciaItem("Dell. (2011). Dell Brand Identity Standards. Version 4.5. Dell.", "")
        +referenciaItem("Fender. (2015). The Fender Brand. ", "https://cutt.ly/syVA783 ")
        +referenciaItem("Fernández, R. (2009). Segmentación de mercados. ", "https://cutt.ly/wyIsCNm")
        +referenciaItem("FIFA. (2018). Guidelines for the use of FIFA’s Official Marks. ", "https://cutt.ly/NyVPL44")
        +referenciaItem("Foursquare. (2011). Brand Book", "https://cutt.ly/IyVAGX6 ")
        +referenciaItem("García, E., Lalueza, F. y Estanyol, E. (2016). ¿Cómo Elaborar un Plan de Comunicación Corporativa? Editorial UOC.", "")
        +referenciaItem("Instagram. (2020). Instagram Brand Resources", "https://cutt.ly/6yVPVz7 ")
        +referenciaItem("Labarta, F. (2014). Guía para Crear Mensajes y Contenidos.", "")
        +referenciaItem("Lenovo. (2016). Lenovo WW Visual Identity Guidelines V1.8. Lenovo.", "")
        +referenciaItem("Llopis, E. (2015). Crear la Marca Global. ESIC Editorial.", "")
        +referenciaItem("López, A. M. (2014). Curso de Diseño Gráfico. Ediciones Anaya multimedia.", "")
        +referenciaItem("Orozko. M. (s. f.). 13 Manuales de Marca para Inspirarte. Sirope. Consultado el 04 de junio de 2020", "https://cutt.ly/9yVPfck ")
        +referenciaItem("Pepsi. (2012). Live for Now. Brand Guidelines. Work in Progress", "https://cutt.ly/kyVP6gZ")
        +referenciaItem("Pinterest. (2015). Pinterest Brand Guidelines for Partners.", "https://cutt.ly/xyVALOi")
        +referenciaItem("Reimers Design. (s. f.). Pequeño Diccionario del Diseñador. Consultado el 27 de mayo de 2020.", "https://cutt.ly/VyDzeWh")
        +referenciaItem("Sánchez, G. (2020). Glosario Gráfico", "https://cutt.ly/WyVO5FW")
        +referenciaItem("Twitter. (2020). Brand Guidelines", "https://cutt.ly/byVAuhe")
        +referenciaItem("Unicef. (2008). Brand Tool Kit. Unicef.", "")
        +referenciaItem("Usabilitypost. (2019). A Guide to Choosing Colors for Your Brand.", "https://cutt.ly/EyVPzjx ")
        +referenciaItem("Velilla, J. (2010). Branding, Tendencias y Retos en la Comunicación de Marca. Editorial UOC.", "")
        





        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            